.first-view {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.first-view .kol {
  position: relative;
}

.first-view .kol .draggable-elements {
  background-color: #f9f9f9;
  transition: all 1s ease;
  height: 100vh;
}

.first-view .labels::after, .droppable-elements .droppable::after {
  content: "";
  position: absolute;
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 3px;
  transition: opacity ease-in-out 1s;
  }
  .first-view .labels::before, .droppable-elements .droppable::before {
    content: "";
    position: absolute;
   
    clip-path: polygon(40% 0%, 15% 40%, 100% 40%, 100% 60%, 15% 60%, 40% 100%, 0% 50%);
    background-color: rgb(136, 136, 136);
    width: 40px;
    height: 20px;
  transition: opacity ease-in-out 1s;
    
    }


    .first-view .draggable-elements.active .labels::before,
    .first-view .draggable-elements.active .labels::after
     {
     opacity: 0;
      
      }


img {
  width: 200px;
  height: 200px;
}

.first-view #butterPlate {
  position: absolute;
  top: 6%;
  left: 26%;
  width: 350px;
  height: 300px;
}
.first-view .butterPlate_label::after {
content: "bread & butter plate";
position: absolute;
top: 38%;
left: 28%;
}
.first-view .butterPlate_label::before {
 top: 35%;
  left: 31%;
  transform: rotate(140deg);
  }

.first-view #dessertSpoon {
  position: absolute;
  top: 7%;
  left: 50%;
  width: 300px;
  height: 150px;
}

.first-view .dessertSpoon_label::after {
  content: "dessert fork";
  position: absolute;
  top: 30%;
  left: 54%;
  }
  .first-view .dessertSpoon_label::before {
   top: 26%;
    left: 57%;
    transform: rotate(90deg);
    }



.first-view #dessertFork {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 320px;
  height: 320px;
}


.first-view .dessertFork_label::after {
  content: "dessert spoon";
  position: absolute;
  top: 5%;
  left: 51%;
  }
  .first-view .dessertFork_label::before {
   top: 10%;
    left: 57%;
    transform: rotate(-90deg);
    }





.first-view #waterGlass {
  position: absolute;
  top: 10%;
  left: 77%;
  width: 120px;
  height: 240px;
}

.first-view .waterGlass_label::after {
  content: "water glass";
  position: absolute;
  top: 33%;
  left: 67%;
  }
.first-view .waterGlass_label::before {
   top: 30%;
    left: 76%;
    transform: rotate(140deg);
    }



.first-view #juiceGlass {
  position: absolute;
  top: 7%;
  left: 83%;
  width: 200px;
  height: 300px;
}

.first-view .juiceGlass_label::after {
  content: "juice glass";
  position: absolute;
  top: 40%;
  left: 78%;
  }
.first-view .juiceGlass_label::before {
   top: 36%;
    left: 84%;
    transform: rotate(140deg);
    }






.first-view #napkin {
  position: absolute;
  top: 53%;
  left: 24%;
  width: 375px;
  height: 300px;
}

.first-view .napkin_label::after {
  content: "napkin";
  position: absolute;
  top: 70%;
  left: 21%;
  }
.first-view .napkin_label::before {
   top: 71%;
    left: 28%;
    transform: rotate(180deg);
    }





.first-view #saladFork {
  position: absolute;
  top: 57%;
  left: 36%;
  width: 219px;
  height: 260px;
}


.first-view .saladFork_label::after {
  content: "salad fork";
  position: absolute;
  top: 90%;
  left: 36%;
  }
.first-view .saladFork_label::before {
   top: 85%;
    left: 41%;
    transform: rotate(110deg);
    }


.first-view #dinnerFork {
  position: absolute;
  top: 55%;
  left: 42%;
  width: 250px;
  height: 260px;
}

.first-view .dinnerFork_label::after {
  content: "dinner fork";
  position: absolute;
  top: 90%;
  left: 49%;
  }
.first-view .dinnerFork_label::before {
   top: 85%;
    left: 50%;
    transform: rotate(70deg);
    }



.first-view #placePlate {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 350px;
  height: 360px;
}


.first-view .placePlate_label::after {
  content: "place plate";
  position: absolute;
  top: 43%;
  left: 51%;
  }
.first-view .placePlate_label::before {
   top: 50%;
    left: 60%;
    transform: rotate(-110deg);
    }





.first-view #dinnerKnife {
  position: absolute;
  top: 50%;
  left: 77%;
  width: 200px;
  height: 300px;
}


.first-view .dinnerKnife_label::after {
  content: "dinner kinfe";
  position: absolute;
  top: 88%;
  left: 73%;
  }
.first-view .dinnerKnife_label::before {
   top: 85%;
   left: 81%;
   transform: rotate(110deg);
    }



.first-view #soupSpoon {
  position: absolute;
  top: 50%;
  left: 83%;
  width: 200px;
  height: 300px;
}

.first-view .soupSpoon_label::after {
  content: "soup Spoon";
  position: absolute;
  top: 88%;
  left: 88%;
  }
.first-view .soupSpoon_label::before {
   top: 84%;
   left: 89%;
   transform: rotate(70deg);
    }





.first-view .kol .draggable-elements .draggable {
  transition: all 1s linear
}
.first-view .kol .draggable-elements.active {
  position: relative;
}

/**********side images ***********/

.first-view .kol .draggable-elements.active #butterPlate {
  position: absolute;
  top: 60%;
  left: 0%;
  width: 10%;
  height: 15%;
}
.first-view .kol .draggable-elements.active #dessertSpoon {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 120px;
  height: 100px;
}
.first-view .kol .draggable-elements.active #dessertFork {
  position: absolute;
  top: 76%;
  left: 9%;
  width: 150px;
  height: 150px;
}

.first-view .kol .draggable-elements.active #waterGlass {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 70px;
  height: 140px;
}
.first-view .kol .draggable-elements.active #juiceGlass {
  position: absolute;
  top: 4%;
  left: 2%;
  width: 100px;
  height: 180px;
}
.first-view .kol .draggable-elements.active #napkin {
  position: absolute;
  top: 75%;
  left: 0%;
  width: 175px;
  height: 135px;
}

.first-view .kol .draggable-elements.active #saladFork {
  position: absolute;
  top: 2%;
  left: 7%;
  width: 120px;
  height: 140px;
}

.first-view .kol .draggable-elements.active #dinnerFork {
  position: absolute;
  top: 31%;
  left: 10%;
  width: 185px;
  height: 175px;
}
.first-view .kol .draggable-elements.active #placePlate {
  position: absolute;
  top: 25%;
  left: 0%;
  width: 180px;
  height: 180px;
}
.first-view .kol .draggable-elements.active #dinnerKnife {
  position: absolute;
  top: 63%;
  left: 6%;
  width: 200px;
  height: 160px;
}

.first-view .kol .draggable-elements.active #soupSpoon {
  position: absolute;
  top: 10%;
  left: 12%;
  width: 120px;
  height: 160px;
}

/***************************/

/****************************/
.draggable {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin: 0rem 0.5rem;
  cursor: move;
  transition: opacity 0.2s;
}

.draggable:hover {
  opacity: 0.4;
}

.droppable-elements {
  /*position: relative;*/
  height: 100%;
  display: none;
}

.droppable-elements.active {
  display: block;
}

.droppable img {
  width: 100%;
  height: 100%;
  pointer-events: none; /* The element is never the target of pointer events */
}

.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
.droppable.dropped i {
  pointer-events: none;
}
.draggable.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}

.draggable-intern {
  display: none;
}

.show, .droppable-elements.a div img {
  display: block;
}

/******************dropable space ******************/
.droppable-butterPlate {
  position: absolute;
  top: 6%;
  left: 26%;
  width: 350px;
  height: 300px;
}


.droppable-dessertSpoon {
  position: absolute;
  top: 7%;
  left: 50%;
  width: 300px;
  height: 100px;
}
.droppable-dessertSpoon img{

  height: 150px;
  transform: translateY(-20%);

}
  
.droppable-dessertFork {
  position: absolute;
  top: 17%;
  left: 50%;
  width: 320px;
  height: 100px;
}

.droppable-dessertFork img{
  height: 320px;
  transform: translateY(-38%);
}

.droppable-waterGlass {
  position: absolute;
  top: 10%;
  right: 17%;
  width: 120px;
  height: 240px;
}
.droppable-juiceGlass {
  position: absolute;
  top: 7%;
  right: 5%;
  width: 200px;
  height: 300px;
}
.droppable-napkin {
  position: absolute;
  top: 53%;
  left: 24%;
  width: 250px;
  height: 300px;
}
.droppable-napkin img {
  width: 375px;
  transform: translateX(-5%); 
}
.droppable-saladFork {
  position: absolute;
  top: 57%;
  left: 38%;
  width: 150px;
  height: 260px;
  

}

.droppable-saladFork img{
  width: 219px;
  transform: translateX(-20%);

}
.droppable-dinnerFork {
  position: absolute;
  top: 55%;
  left: 46%;
  width: 150px;
  height: 260px;
  
}
.droppable-dinnerFork img {
  width: 250px;
  transform: translateX(-20%);

}
.droppable-placePlate {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 350px;
  height: 360px;
}
.droppable-dinnerKnife {
  position: absolute;
  top: 50%;
  right: 13%;
  width: 160px;
  height: 300px;
}
.droppable-dinnerKnife img{
transform: translateX(-30px);
  width: 200px;
}
.droppable-soupSpoon {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 160px;
  height: 300px;
}
.droppable-soupSpoon img {
  transform: translateX(-30px);
  
  width: 200px;

}
.droppable-elements .droppable-butterPlate::after {
  content: "bread & butter plate";
  position: absolute;
  top: 110%;
  left: 0%;
  }
.droppable-elements .droppable-butterPlate::before {
   top: 100%;
    left: 20%;
    transform: rotate(140deg);
  }


    .droppable-elements .droppable-dessertSpoon::after {
  content: "dessert spoon";
  position: absolute;
  top: -70%;
  left: 15%;
  }
  .droppable-elements .droppable-dessertSpoon::before {
    top: -20%;
    left: 40%;
    transform: rotate(-90deg);
    }
    .droppable-elements .droppable-dessertFork::after {
  content: "dessert fork";
 
  position: absolute;
  top: 120%;
  left: 20%;
  }
  .droppable-elements .droppable-dessertFork::before {

    top: 90%;
    left: 40%;
    transform: rotate(90deg);
    }



.droppable-elements .droppable-waterGlass::after {
  content: "water glass";
  position: absolute;
  top: 110%;
  left: -100%;
  }
.droppable-elements .droppable-waterGlass::before {
   top: 100%;
    left: 0%;
    transform: rotate(140deg);
    }


.droppable-elements .droppable-juiceGlass::after {
  content: "juice glass";
  position: absolute;
  top: 110%;
  left: -40%;
  }
.droppable-elements .droppable-juiceGlass::before {
   top: 100%;
    left: 0%;
    transform: rotate(140deg);
    }

.droppable-elements .droppable-napkin::after {
  content: "napkin";
  position: absolute;
  top: 60%;
  left: -30%;
  }
.droppable-elements .droppable-napkin::before {
   top: 60%;
    left: 20%;
    transform: rotate(180deg);
    }

.droppable-elements .droppable-saladFork::after {
  content: "salad fork";
  position: absolute;
  top: 120%;
  left: -70%;
  width: 140%;
  }
.droppable-elements .droppable-saladFork::before {
   top: 100%;
    left: 20%;
    transform: rotate(110deg);
    }



.droppable-elements .droppable-dinnerFork::after {
  content: "dinner fork";
  position: absolute;
  top: 130%;
  left: 50%;
  width: 140%;
  }
.droppable-elements .droppable-dinnerFork::before {
   top: 110%;
    left: 50%;
    transform: rotate(70deg);
    }





.droppable-elements .droppable-placePlate::after {
  content: "place plate";
  position: absolute;
  top: -15%;
  left: 5%;
  }
.droppable-elements .droppable-placePlate::before {
   top: 0%;
    left: 30%;
    transform: rotate(-110deg);
    }


.droppable-elements .droppable-dinnerKnife::after {
  content: "dinner kinfe";
  position: absolute;
  top: 125%;
  left: -60%;
  width: 130%;
  }
.droppable-elements .droppable-dinnerKnife::before {
   top: 115%;
   left: 10%;
   transform: rotate(110deg);
    }



.droppable-elements .droppable-soupSpoon::after {
  content: "soup Spoon";
  position: absolute;
  top: 125%;
  left: 0%;
  width: 150%;
  }
.droppable-elements .droppable-soupSpoon::before {
   top: 115%;
   left: 50%;
   transform: rotate(70deg);
    }

    .droppable-elements .droppable::after {
      opacity: 0;
      }
    .droppable-elements .droppable::before {
       opacity: 0;
        }

        .droppable-elements .dropped::after, .droppable-elements.a  .droppable::after {
          
          opacity: 1;
          }
        .droppable-elements .dropped::before, .droppable-elements.a  .droppable::before {
           opacity: 1;
            }
/*
  */


.timer
{
  padding: 20px;
  font-size: 35px;
}

.timer span
{
  text-align: center;
  background-color: gray;
  cursor: pointer;
  font-size: 22px;
  color: white;
  display: block;
  letter-spacing: 1px;
  padding: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}