
 
  
  .first-view section .items  {
    background-color: #f9f9f9;
    transition: all 1s ease;
    height: 100%;

  }

 
  
  .first-view .items .item img  {
    width: 100%; 
    height: 100%;
  }


  
  
   .first-view .items.active .item  {

    left: 0% ;
    z-index: 10;
    transform: translateX(-100%) scale(.5);
    transition: all 1s ease;
  }

  
  .first-view .items.active .item.butterPlate  {
    top: 70%;
    left: -7% !important;

   }
   .first-view .items.active .item.dessertSpoon  {
    top: 50%;
   
    }
    .first-view .items.active .item.dessertFork  {
      top: 65%;
    left: -100px !important;

    
    }
    .first-view .items.active .item.waterGlass  {
      top: 72%;
    left: -2% !important;

    }
    .first-view .items.active .item.juiceGlass  {
      top: 30%;
    left: -15% !important;

    }
    .first-view .items.active .item.napkin  {
      top: 0%;
    left: -5% !important;

    }
    .first-view .items.active .item.saladFork  {
      top: 0%;
    left: -15% !important;

    }

    .first-view .items.active .item.dinnerFork  {
      top: 50%;
    left: -10% !important;
     }
     .first-view .items.active .item.placePlate  {
      top: 20%;
      
     }
     .first-view .items.active .item.dinnerKnife  {
      top: 30%;
      left: 2% !important;
     }
     .first-view .items.active .item.soupSpoon  {
      top: 20px;
      left: 3% !important;
     }







 

  .first-view  .item.bord
{
  border: 1px solid black;
  position: absolute;
}

  .first-view  .item.bord  img
  {
      width: 100%;
      height: 100%;
  }

  